<br />
<br />
<br />

<h1>New category</h1>
<% if @category.parent %>
  <%= render 'category', category: @category.parent, from_reply_form: true %> #We want to show the parent category to which the admin would be adding the subcategory 
<% end %>
<%= render 'form' %>