<br />
<br />
<br />

#Just to display the Category with the right information

<h3>Products under this category</h3>
<% Product.where(category_id: params[:id]).each do |product| %>
<li><%= product.name %></li>
<%end%>
